apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: db-mcp-server-hpa
  namespace: postgres-mcp
  labels:
    app: db-mcp-server
    app.kubernetes.io/part-of: topmate-mcp
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: db-mcp-server
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
